<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{asset "built/index.css"}}" />
    <script src="{{asset "built/index.js"}}" defer></script>

    <title>{{meta_title}}</title>

    {{ghost_head}}
    {{!-- Outputs important meta data and settings, should always be in <head> --}}

</head>
<body class="{{body_class}}">
<div class="gh-viewport">

<header id="gh-head" class="gh-head">
    <nav class="gh-head-inner gh-container">

        <div class="gh-head-brand">
            <a class="gh-head-logo" href="{{@site.url}}">
                {{#if @site.logo}}
                    <img src="{{@site.logo}}" alt="{{@site.title}}" />
                {{else}}
                    {{@site.title}}
                {{/if}}
            </a>
            <a class="gh-burger" role="button" aria-label="menu">
                <div class="gh-burger-box">
                    <div class="gh-burger-inner"></div>
                </div>
            </a>
        </div>
        <div class="gh-head-menu">
            {{navigation}}
        </div>
        <div class="gh-head-actions">
            <div class="gh-head-actions-list">
                {{search}}
                {{#if @site.members_enabled}}
                    {{^if @member}}
                    <a class="gh-button" href="{{@site.signup_url}}">Subscribe</a>
                    {{else}}
                    <a class="gh-button" href="#/portal/account">Account</a>
                    {{/if}}
                {{/if}}
            </div>
        </div>
    </nav>
</header>

<main class="gh-main">

    {{{body}}}
    {{!-- All content gets inserted here, index.hbs, post.hbs, etc --}}

</main>

<footer>
    <div class="gh-foot gh-container">
        <div class="gh-foot__header">
            <img
                src="assets/images/logo.svg"
                alt="Logo of Succubus"
                width="120px"
                height="120px"
            />
            <h2 class="gh-foot__header-title">
                <span>
                    Suc
                </span>
                <span class="gh-foot__header-title-intermediary">
                    c
                </span>
                <span>
                    ubus
                </span>
            </h2>
        </div>
        <div class="mb-7 gh-foot__links">
            <div>
                <h3 class="mb-2">
                    Enlace
                </h3>
                <ul>
                    <li>Inicio</li>
                    <li>Blog</li>
                    <li>Encuesta</li>
                </ul>
            </div>
            <div>
                <h3 class="mb-2">
                    Otros Enlaces
                </h3>
                <ul>
                    <li>Sobre Nosotros</li>
                    <li>Contactos</li>
                    <li>Términos de Servicio</li>
                </ul>
            </div>
            <div>
                <h3 class="mb-2">Únete</h3>
                <div class="gh-foot-menu">
                    <!-- {{navigation type="secondary"}} -->
                                {{!-- A signup call to action is displayed here, unless viewed as a logged-in member --}}
                    {{#if @site.members_enabled}}
                    {{#unless @member}}
                        <section class="footer-cta outer">
                            <div class="inner">
                                {{#if @custom.email_signup_text}}
                                <h2 class="footer-cta-title">
                                    {{@custom.email_signup_text}}
                                </h2>
                                {{/if}}
                                <a class="footer-cta-button" href="#/portal" data-portal>
                                    <div class="footer-cta-input mr-5">Introduzca su correo</div>
                                    <span>Subscribirse</span>
                                </a>
                            </div>
                        </section>
                    {{/unless}}
                    {{/if}}

                </div>
            </div>
        </div>
        <div class="gh-container">
            <p>Copyright Succubus &copy; {{date format="YYYY"}}</p>
        </div>
    </div>
</footer>

</div>

{{!-- <foot> --}}
{{ghost_foot}}
{{!-- Outputs important scripts - should always be included before closing body tag --}}

</body>
</html>
